<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <title>后台添加修改商品</title>
</head>
<style>
    .layui-form-item{
        margin-bottom: 8px;
    }
</style>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div id="cardBodyDiv" class="layui-card-body" style="padding: 15px;">
            <form class="layui-form layui-form-pane" action="" lay-filter="component-form-group">
                <input type="hidden" name="id" th:value="${entity.id}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="title" th:value="${entity.name}"  maxlength="50" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">摘要</label>
                    <div class="layui-input-block">
                        <input type="text" name="summery" lay-verify="title" th:value="${entity.summery}"  maxlength="50" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block">
                        <input type="text" name="label" placeholder="多个标签使用英文逗号分割" lay-verify="label" th:value="${entity.label}"  maxlength="50" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-inline">
                            <select name="typeId" lay-verify="required" lay-search="" id="childType" class="selectedlv" th:attr="v=${entity.typeId}">
                                <option  th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">上架</label>
                        <div class="layui-input-inline">
                            <select name="status" class="selectedlv" th:attr="v=${entity.status}">
                                <option value="true">上架</option>
                                <option value="false">下架</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">热卖</label>
                        <div class="layui-input-inline">
                            <select name="hot" class="selectedlv" th:attr="v=${entity.hot}">
                                <option value="true">热卖</option>
                                <option value="false">不热卖</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">供应商</label>
                        <div class="layui-input-inline">
                            <select name="supperId" lay-verify="required" lay-search="" id="supperId" class="selectedlv" th:attr="v=${entity.supperId}">
                                <option  th:each="su : ${supplier}" th:value="${su.id}" th:text="${su.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">原始价格</label>
                        <div class="layui-input-inline">
                            <input type="text" name="price" lay-verify="title" th:value="${entity.price}"  maxlength="30" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">实际价格</label>
                        <div class="layui-input-inline">
                            <input type="text" name="discountPrice" lay-verify="title" th:value="${entity.discountPrice}"  maxlength="30" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">抽成金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="royalty" lay-verify="title" th:value="${entity.royalty}"  maxlength="30" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px">
                    <label class="layui-form-label">封面</label>
                    <button type="button" class="layui-btn" id="mobileTest1" style="margin-top: -12px">
                        <i class="layui-icon">&#xe67c;</i>上传封面
                    </button>
                    <img  id="mobileCoverImg" class="originalImg" th:src="${entity.cover}"  style="height: 50px;min-width: 50px;"/>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品描述</label>
                    <div class="layui-input-block">
                        <div id="editor" style="height:200px;" >

                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <a class="layui-btn" lay-submit="" lay-filter="component-form-demo1">保存</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="mContent" style="display: none" th:utext=" ${entity.content}">

</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/base.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/addUploadImg.js"></script>
<script>
    selected();
    //设置富文本
    var ue = UE.getEditor('editor');
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate','upload'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,form = layui.form;
        form.render(null, 'component-form-group');
        laydate.render({
            elem: '#LAY-component-form-group-date'
        });
        uploadOneImg('#mobileTest1', 'information', function (res) {
            if (res.code == 200) {
                //上传完毕回调
                $("#mobileCover").val(res.data);
                $("#mobileCoverImg").attr("src", res.data);
            } else {
                layer.alert(res.msg, {icon: 2, skin: 'layui-layer-molv'})
            }
        }, 670, 460);
        ue.setContent($("#mContent").html());

        /* 监听提交 */
        form.on('submit(component-form-demo1)', function(data){
            if ( ue.getContent() == null ||  ue.getContent()== "") {
                layer.alert("请输入内容");
                return false;
            }
            var da = data.field;
            da.content=ue.getContent();
            da.cover = $("#mobileCoverImg").attr("src");
            basePost({
                url:"/yx_shop/saveData.htm",
                data:da,
                success:function (req) {
                    window.parent.location.reload();
                }
            })
            return false;
        });
    });

</script>

</body>

</html>
